pycodestyle==2.6.0
pytest==5.4.2
coverage==5.1
pytest-cov==2.9.0
gurobipy==9.0.0
pygments==2.6.1
fire==0.3.1
pdbpp==0.10.2
loguru==0.5.0
numpy==1.18.4
scikit-optimize
neptune-client==0.4.114
psutil==5.7.0


matplotlib~=3.2.1